body {
    margin: 0%;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-image: url(tlo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}